<div class="container">
    <div class="left">
        <div class="main-news">
            <div class="img-container">
                <img src="assets/main.jpg" alt="check your internet" class="img">
                <div class="text">
                    Tony Fernandes’ AirAsia To Raise Up To $604.6 Million Amid Mounting Losses
                </div>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium hic sapiente amet nisi, magnam inventore culpa quibusdam facilis magni voluptatum.</p>
            </div>
        </div>
        <div class="under">
            <div class="two">
                <img src="assets/kuala-lumpur.jpeg" >
                <div>
                    <span><i class="fa fa-twitter" aria-hidden="true"></i>FORBES</span>
                    <h2>Full List: Malaysia’s Richest 2021</h2>
                    <p>The nation’s richest saw their combined wealth rise 14% to nearly $90 billion.</p>
                </div>
            </div>
            <div class="line"></div>
            <div class="two">
                <img src="assets/remote.jpg" >
                <div>
                    <span>FORBES</span>
                    <h2>Full List: Malaysia’s Richest 2021</h2>
                    <p>The nation’s richest saw their combined wealth rise 14% to nearly $90 billion.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="right">
        <app-right></app-right>
    </div>

</div>

