<div class="wraper">
  <div class='navbar'>
    <div class='nav'>
      <div class='btn'>
        <button class='btnmenu' (click)='openmenu()' ><i *ngIf='menu' class="fa fa-times  " aria-hidden="true"></i><i class="fa fa-bars" *ngIf='!menu'><span class='explore' >explore</span></i></button>
      </div>

      
      <div class='forbes'><p>Forbes</p></div>
      <div class='search'>
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    
    <div [@openclose]='menu ? "open":"closed"' class="menu">
      <a href="#">menu item</a>
      <a href="#">menu item</a>
      <a href="#">menu item</a>
      <a href="#">menu item</a>
    </div>
  </div>
  </div>
  
  <div class="under">
    <app-under-navbar></app-under-navbar>
  </div>
  <div class="dropdown">
    <button (click)='dropdown()' class='contentBtn'>{{rig}} Edition
       <i class="fa fa-angle-down" *ngIf='!drop'></i>
       <i class="fa fa-angle-up" *ngIf='drop' ></i>
      </button>
    <div class="underline"></div>
    <div *ngIf='drop' class="drop-click">
      <a class='dropdown-content' (click)='region("U.S")' >U.S</a>
      <a class='dropdown-content' (click)='region("Asia")' >Asia</a>
      <a class='dropdown-content' (click)='region("Europe")' >Europe</a>
    </div>
  </div>
  <div class="main">
    <app-main></app-main>
  </div>
  <div class="quote">
    <app-quote></app-quote>
  </div>
  <div class="underquote">
    <app-under-quote></app-under-quote>
  </div>
</div>

