<div class="container">
    <div class="border">
        <div class="day">QUOTE OF THE DAY</div>
        <div class="quote">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit, atque. Eaque ratione doloribus impedit, ea similique ducimus debitis distinctio sed!
            <div class="aut"><p> David Lawee, Founder of CapitalG</p></div>
        </div>
        <div class="share">
            <i class="fa fa-share-alt" aria-hidden="true">  SHARE THIS</i>
        </div>        

    </div>
</div>
<div class="line"></div>

